.gradient-custom-2 {
    background: rgba(161, 255, 115, 0.37);
    background: -webkit-linear-gradient(to right, rgba(38, 104, 7, 0.36), rgba(5, 99, 60, 0.27), rgba(0, 65, 106, 0.18));
    background: linear-gradient(to right, rgba(41, 114, 5, 0.28), rgba(6, 104, 65, 0.28), rgba(0, 65, 106, 0.18));
 }
 
 
 .card-body {
    color: black;
 }
 
 
 .btn-primary {
    background-color: rgba(0, 65, 106, 0.76);
    border-color: rgba(0, 65, 106, 0.81);
 }
 
 
 .btn-primary:hover {
    background-color: #00663d;
    border-color: #00663d;
 }
 
 
 @media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
 }
 
 
 @media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
 }
 